
# {{projectName}}

{{projectSynopsis}}

## Installation

To install this, just download it and use `cabal`:

```bash
cd {{projectName}}
cabal install
```

{{#privateProfile}}
## Repository

The repository for {{projectName}} is on Github at
https://github.com/erochest/{{projectName}}.

## Contributing

To contribute to this project, either fork it and issue a pull request or
[create an issue](https://github.com/erochest/cabal-new/issues).
{{/privateProfile}}

