
test-suite {{projectName}}-specs
  type:                exitcode-stdio-1.0
  ghc-options:         -threaded -rtsopts
  hs-source-dirs:      specs
  main-is:             Specs.hs
  build-depends:         base
                       , QuickCheck
                       , smallcheck
                       , hspec
                       -- , tasty
                       -- , tasty-quickcheck
                       -- , tasty-smallcheck
  default-language:    Haskell2010
